.recipe1{
    font-family: "Open Sans";
}
.recipe2{
    font-family: "Open Sans";
}
h1{
    font-family: "swap";
    font-size: 70px;
    font-weight: 1000;
    line-height: 0.7;

    color: #4a0202 ;
}
h2{
    font-family: "swap";
    font-size: 40px;
    line-height: 0.1;

    color: #bf2626;
}
h3{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 0.1;

    color: #bf2626;
}